version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  fastapi:
    build: .
    container_name: fastapi_server
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - ./logs:/app/logs
      - .:/app
    environment:
      - REDIS_URL=redis://redis:6379/0
      # Default: Tell PyTorch not to look for NVIDIA drivers
      - NVIDIA_VISIBLE_DEVICES=void

volumes:
  redis_data: