version: '3.8'

services:
  fastapi:
    environment:
      # Enable all GPUs
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1       # Number of GPUs to reserve
              capabilities: [gpu]