version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  fastapi:
    build: . # Build using the Dockerfile in the current directory
    container_name: fastapi_server
    ports:
      - "8000:8000"
    depends_on:
      - redis

volumes:
  redis_data: